body {
    font-family: Arial, sans-serif;
    padding: 0;
    text-align: left;
    transition: background 0.5s, color 0.5s;
    max-width: 1200px; /* Sayfanın maksimum genişliği */
    margin: 0 auto; /* Sayfayı ortalar */

}

header {
    background-color: #DAD6B9;
    padding: 20px;
    color: #333;
    position: sticky;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
    position: relative;
}

nav ul li a {
    color: #333;
    text-decoration:dashed;
    font-weight: bold;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    padding: 10px;
    border-radius: 5px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.products, .contact {
    padding: 50px;
    background-color: #6b4226;
}

.product {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

footer {
    background-color: #222;
    color: white;
    padding: 10px;
}

.dark-mode {
    background-color: #222;
    color: white;
}

.slideshow {
    width: 1200px;
    height: 500px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color:  #6b4226;
}

.slides img {
    max-width: auto; 
    height: auto;
    position: absolute;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    align-items: center;
    background-color:  #6b4226;
}

.slides img.active {
    opacity: 1;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 24px;
    transform: translateY(-50%);
    
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

.phone-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: blueviolet;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 250px;
     
}

.phone-button:hover {
    background-color: red;
    
}
.second-header{
    background-color: #DAD6B9;
    padding: 20px;
    color: #333;
    
}